.font-inter {
    font-family: "Inter";
    font-optical-sizing: auto;

}


.nav {
    width: 1600px;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;
}

.nav-items {
    display: flex;
    gap: 34px;
    font: 16px;
}
.nav-items1:hover{
    color: #30B868;
    font: 18px;
    font-weight: bold;
}
.nav-items2:hover{
    color: #30B868;
    font: 18px;
    font-weight: bold;
}
.nav-items3:hover{
    color: #30B868;
    font: 18px;
    font-weight: bold;
}

.nav-btn {
    color: #ffffff;
    background-color: #30B868;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    

}

.nav-btn:hover {
    background-color: #124b2a;
}