.font-inter {
    font-family: "Inter";
    font-optical-sizing: auto;

}


.nav {
    width: 1600px;
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px 16px 120px;

}

.nav-items {
    display: flex;
    gap: 34px;
    font: 16px;
    cursor: pointer;
}

.nav-items1:hover {
    color: #30B868;
    font: 18px;
    font-weight: bold;
}

.nav-items2:hover {
    color: #30B868;
    font: 18px;
    font-weight: bold;
}

.nav-items3:hover {
    color: #30B868;
    font: 18px;
    font-weight: bold;
}

.nav-btn {
    color: #ffffff;
    background-color: #30B868;
    width: 164px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: none;


}

.nav-btn:hover {
    background-color: #124b2a;
}

/* notes */

.notes {
    width: 1600px;
    height: auto;
    padding: 16px 120px 16px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.notes h1 {
    font-size: 48px;
    margin: 0%;


}

.notes p {
    color: #627382;

}

/* Note boxes style  */
.note-boxes {
    width: 1600px;
    height: auto;
    padding: 16px 120px 16px 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.box1 {
    width: 322px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;

}

.box2 {
    width: 322px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;

}

.box3 {
    width: 322px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;

}

.box4 {
    width: 322px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16;
    padding: 24px;

}

.note-logo {
    width: 60px;
    height: 60px;
    background: rgba(249, 85, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.note-boxes h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    text-align: center;
}

.note-boxes p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.box1:hover {
    background-color: #e6eded;
    border-radius: 10px;
}

.box2:hover {
    background-color: #e6eded;
    border-radius: 10px;
}

.box3:hover {
    background-color: #e6eded;
    border-radius: 10px;
}

.box4:hover {
    background-color: #e6eded;
    border-radius: 10px;
}


.bg-img-box {
    background:
        linear-gradient(rgba(0, 25, 49, 0.7), rgba(0, 25, 49, 0.7)),
        url("../assets/hero-bg.png");
    width: 100%;
    /* background-size: 100%;
    background-position: center; */
    height: 800px;
    border: red solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-text-container {
    width: 770px;
    height: auto;
}

.bg-img-box h1 {
    font-weight: bold;
    font-size: 72px;
    color: white;

}

.bg-img-box p {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;

}

.spantext {
    color: #30B868;
}

.circle-container {

    width: 229px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 6;
    padding: 8px 12px 8px 12px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100px;
    background-color: white;
}

.circle-container h3 {
    color: #30B868;
    font-weight: 500px;
    font-size: 16px;

}

.circle {
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background-color: #30B868;

}

.img-bottom-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.img-bottom-left {
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    color: #ffffff;
    background-color: #30B868;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.img-bottom-right {
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 14px 10px 14px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    border-radius: 10px;
    border: white solid 2px;
    cursor: pointer;
}

.img-bottom-left:hover {
    background-color: #124b2a;
}

.img-bottom-right:hover {
    background-color: #1c3928;

}

.knowledge-section {
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    gap: 50px;
    margin-bottom: 120px;
}

.knowledge-img {
    width: 600px;
    height: 600px;
}

.knowledge-texts {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 600px;
    height: auto;


}

.knowledge-p {
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}

.knowledge-texts h1 {
    font-style: Bold;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.knowledge-texts-p {
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.check-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.new-notes {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
    width: 1360px;
    height: 384px;
    margin: auto;
    padding: 80px 40px 80px 40px;
    margin-bottom: 100px;
}

.new-notes h1 {
    font-size: 48px;
    margin: 0%;


}

.new-notes p {
    color: white;
}

.new-notes span {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #627382;
}

.new-notes-bottom {
    width: 251px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px;
}

.new-notes-bottom:hover {
    background-color: #124b2a;
}